.ion-color-tomato {
  --ion-color-base: var(--ion-color-tomato);
  --ion-color-base-rgb: var(--ion-color-tomato-rgb);
  --ion-color-contrast: var(--ion-color-tomato-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tomato-contrast-rgb);
  --ion-color-shade: var(--ion-color-tomato-shade);
  --ion-color-tint: var(--ion-color-tomato-tint);
}
.ion-color-tennisnavy {
  --ion-color-base: var(--ion-color-tennisnavy);
  --ion-color-base-rgb: var(--ion-color-tennisnavy-rgb);
  --ion-color-contrast: var(--ion-color-tennisnavy-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tennisnavy-contrast-rgb);
  --ion-color-shade: var(--ion-color-tennisnavy-shade);
  --ion-color-tint: var(--ion-color-tennisnavy-tint);
}
.ion-color-tennisnavydark {
  --ion-color-base: var(--ion-color-tennisnavydark);
  --ion-color-base-rgb: var(--ion-color-tennisnavydark-rgb);
  --ion-color-contrast: var(--ion-color-tennisnavydark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tennisnavydark-contrast-rgb);
  --ion-color-shade: var(--ion-color-tennisnavydark-shade);
  --ion-color-tint: var(--ion-color-tennisnavydark-tint);
}
.ion-color-tennisyellow {
  --ion-color-base: var(--ion-color-tennisyellow);
  --ion-color-base-rgb: var(--ion-color-tennisyellow-rgb);
  --ion-color-contrast: var(--ion-color-tennisyellow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tennisyellow-contrast-rgb);
  --ion-color-shade: var(--ion-color-tennisyellow-shade);
  --ion-color-tint: var(--ion-color-tennisyellow-tint);
}
p {
  color: var(--ion-color-tennisyellow-tint);
}

.imgCont {
  height: 100px;
  width: 100px;
}

.header {
}
