<ion-header>
  <div class="header">
    <ion-toolbar color="tennisnavy">
      <ion-button
        color="tennisyellow"
        slot="start"
        size="small"
        routerLink="/browse"
        >Back
        <ion-icon name="arrow-undo-circle-outline"></ion-icon>
      </ion-button>
      <ion-button
        color="tennisyellow"
        slot="end"
        size="small"
        (click)="logout()"
        >Logout
        <ion-icon name="planet-outline"></ion-icon>
      </ion-button>
      <ion-title>
        <ion-title color="tennisyellow">
          {{modelService.userAuthInfo[0]}}
        </ion-title>
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div id="contentContainer">
    <h2>
      Your Profile!
    </h2>

    <br />
    <img src="{{modelService.user.photoURL}}" />

    <br />
    {{modelService.user.displayName}} <br />
    {{modelService.user.email}} <br />
    {{modelService.user.uid}}
    <br />
    {{modelService.user.emailVerified}}
    <br />
    Last Login: {{modelService.user.metadata.lastSignInTime}}
    <ion-button color="tennisnavy" (click)="editProfile()">
      Edit Profile
    </ion-button>
    <ion-button color="danger" (click)="deleteAccountRequest()">
      Delete Account
    </ion-button>
    <!-- 
      <div *ngFor="let accounts of modelService.accountsArray">
        <div>
          User Email: {{accounts.email}}, Favorite Shots: {{accounts.shots}}
          <img src="imgUrl" />
        </div>
      
      </div> -->
  </div>
</ion-content>
