ion-content.background {
  --background: url(../../assets/images/pexels-photo-220201.jpg);
  //background-position: center;
  //background-size: cover;
}

.browseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.mapContainer {
  background-color: rgba(213, 166, 112, 0.8);
  height: 85%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 40px #d5a670;
  font-size: 24px;
  text-shadow: 2px 2px 5px black;
  padding-top: 5%;
  text-align: center;
  // margin-right: 35%;
  color: beige;
}

.blogContainer {
  height: 85%;
  width: 35%;
  background-color: rgba(92, 90, 86, 0.62);
  box-shadow: 0 0 20px #d5a670;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.innterBlogContainer {
  display: flex;
  color: beige;
  text-shadow: 2px 2px 5px beige;
  flex-direction: column;
  width: 95%;
  height: 100%;
}

.inputList {
  height: 96%;
  background-color: rgba(255, 228, 181, 0.6);
  margin-top: 2%;
}

.createBlogBtn {
  // margin-left: 88%;
  //padding-top: 99%;
}

/////media

@media screen and (max-width: 1024px) {
  .mapContainer {
    background-color: rgba(213, 166, 112, 0.8);
    height: 85%;
    width: 65%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 40px #d5a670;
    font-size: 24px;
    text-shadow: 2px 2px 5px black;
    padding-top: 5%;
    text-align: center;
    // margin-right: 35%;
  }
  #welcomeTag {
    color: #f2e0b9;
    font-size: 25px;
  }
  .createBlogBtn {
    margin-left: 68%;
    margin-top: 2%;
  }
  .createBlogBtn {
    //margin-left: 88%;
    //padding-top: 99%;
  }
}
