<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="medium" slot="end" size="small" (click)="logout()"
      >Logout
      <ion-icon name="planet-outline"></ion-icon>
    </ion-button>
    <ion-button color="medium" slot="end" size="small" routerLink="/browse"
      >Back
      <ion-icon name="arrow-undo-circle-outline"></ion-icon>
    </ion-button>
    <ion-title
      >IonFireMap | CREATE BLOG
      <ion-title color="warning"> {{modelService.userAuthInfo[0]}}</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background">
  <div class="browseContainer">
    <div class="mapContainer">
      <div id="mapId2" style="height:100%; width: 100%;"></div>
      <ion-content class="noScroll">
        <div id="map"></div>
      </ion-content>
    </div>
    <div class="blogContainer">
      <div class="innterBlogContainer">
        <ion-list class="inputList">
          <ion-item>
            <ion-label position="floating">Create Your Blog Here</ion-label>
            <ion-input
              color="dark"
              placeholder="Type a Name for your blog Here"
              [(ngModel)]="blogName"
            ></ion-input>
            <ion-input
              color="dark"
              placeholder="Type your blog Contents Here"
              [(ngModel)]="blogContent"
              type="text"
              maxLength="855"
            ></ion-input>
          </ion-item>
        </ion-list>
      </div>
      <div class="createBlogBtn">
        <ion-button color="success" (click)="sendCreateBlogRequest()"
          ><ion-icon name="send"></ion-icon
        ></ion-button>
      </div>
    </div>
  </div>
</ion-content>
